body {
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
    border-collapse: collapse;
}
td {
    border: 1px solid #a2a9b1;
}
.impress {
  text-align: center;
}
.based {
    width: 352px;
    color: rgb(230,230,230);
    background-color: rgb(0, 0, 0);
}
.varadwashere {
  text-align: right;
}
.lingo {
    color: rgb(255,255,255);
    background-color: rgb(25, 25, 25);
}
h6 {
    font-style: italic;
}
a:link {
    color: rgb(2, 255, 2);
}
a:visited {
    color: rgb(255, 200, 0);
}
a:hover {
    color: rgb(150, 50, 1);
}
a:active {
    color: rgb(255, 255, 0);
}